# Make vim the default editor
export EDITOR="mvim -f";
export BUNDLE_EDITOR="mvim -f";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

LANG="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_CTYPE="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
export LANG LC_COLLATE LC_CTYPE LC_MESSAGES LC_MONETARY LC_NUMERIC LC_TIME LC_ALL

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

export NODE_VERSION_PREFIX=v
export NVM_DIR="$HOME/.nvm"
export NODE_VERSIONS="$NVM_DIR/versions/node"

export ITERM2_SQUELCH_MARK=1

export PATH=/opt/homebrew/bin:$PATH
export PATH=/opt/homebrew/opt/postgresql@13/bin:$PATH
export PATH="$(brew --prefix openssl@1.1)/bin:$PATH"
export LIBRARY_PATH="$LIBRARY_PATH:$(brew --prefix openssl@1.1)/lib/"

# Use Homebrew's OpenSSL when building Rubys
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
export PKG_CONFIG_PATH="$(brew --prefix openssl@1.1)/lib/pkgconfig"
